DB_HOST=localhost
DB_PORT=5432
DB_NAME=transport
DB_USER=postgres
DB_PASSWORD=

FRONTEND_ORIGIN=http://localhost:5173

STOMP_HOST=transport.scc.lancs.ac.uk
STOMP_PORT=61613
STOMP_USER=
STOMP_PASSWORD=
STOMP_TOPICS=/topic/TRAIN_MVT_ALL_TOC,/topic/TD_ALL_SIG_AREA
